# Requires Python 3.12.0 

streamlit>=1.28.0   # Core library for Streamlit apps
pandas>=2.1.1       # For data manipulation
scipy>=1.11.3       # Scientific and technical computing
numpy>=1.26.0       # For numerical computing
plotly>=5.17.0      # For interactive plots
matplotlib>=3.8.0   # For static plots and dependencies
seaborn>=0.13.0     # For static plots and dependencies
psycopg2>=2.9.9      # For PostgreSQL adapter for python
sqlalchemy>=2.0.22   # SQL toolkit and ORM
jupyter             # Interactive computing environment
nbconvert>=5.9.2    # Convert jupyter notebooks into other formats
ipython>=8.16.1     # Enhanced interactive python shell
ipykernel>=6.25.2   # ipython kernel for jupyter, allows use of ipython within jupyter notebooks
