img[src*="#image"] {
    width: auto;
    height: 410px;
    max-width: 1792px;
    max-height: 1024px;
}

img[src*="#banner"] {
    width: auto;
    height: 500px;
    max-width: 1504px;
    max-height: 859px;
}